header {
    width: 100%;
    height: 70px;
}
ul {
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
    margin-bottom: 0 !important;
    li {

        list-style: none;
        a {
            font-size: 30px;
            color: white !important;
            font-weight: bold;
            text-decoration: none;
        }
    }
}
img {
    width: 150px;
}
.active {
    border-bottom: 3px solid white;
}
